{% extends 'bike/bike_base.html' %}

{% block title %}
    Bike4All | {{ block.super}}
{% endblock %}


{% block content %}
<div class="thumbnail">
<h4>Clients</h4>
</div>
    <!-- Details of bike -->
            {% for client in client_list %}
                <li class="thumbnail">
                        <h3>{{ client }}</h3>
                        <div>
                            <!-- Details -->
                                <a href="{% url 'client:client-detail' client.pk %}">Detail</a>
                        </div>
                        <div>
                            <!-- Rentings -->
                            <a href="{% url 'client:client-renting' client.pk %}">Historical rentings</a>
                        </div>

                    </div>
                </li>
            {% empty %}
                <li>No such clients</li>
            {% endfor %}

    <div>
        <h4>Add new client</h4>
        <!-- Add client -->
        <a href="{% url 'client:client-create' %}">Add</a>
    </div>

    <div>
        <h4>Rentings</h4>
        <a href="{% url 'bike:create-bike-renting' %}">Rent a bike</a>
        <a href="{% url 'bike:list-bike-renting' %}">Show rentings</a>
    </div>

{% endblock %}
