{% extends 'bike/bike_base.html' %}

{% block title %}
    Bike4All | {{ block.super}}
{% endblock %}


{% block content %}

<h4>Bikes:</h4>
    <!-- Details of bike -->
        <ol>
            {% for bike in bike_list %}
                <li>
                    <div>
                        <h3>{{ bike }}</h3>
                        <div>
                            <!-- Details -->
                            <a href="{% url 'bike:bike-detail' bike.pk %}">Detail</a>
                            <!-- Tech info -->
                        </div>

                    </div>
                </li>
            {% empty %}
                <li>No such bikes</li>
            {% endfor %}
        </ol>

    <div>
        <h4>Add a bike</h4>
        <!-- Add bike -->
        <a href="{% url 'bike:create-bike' %}">Add</a>
    </div>

    <div>
        <h4>Renting</h4>
        <a href="{% url 'bike:create-bike-renting' %}">Rent a bike</a>
    </div>

{% endblock %}
