{% extends 'bike/bike_base.html' %}

{% block title %}
    Bike4All | {{ block.super}}
{% endblock %}


{% block content %}

<h4>Bikes:</h4>
    <!-- Details of bike -->
        <ol>
            {% for bike in bike_list %}
                <li>
                    <div>
                        <h3>{{ bike }}</h3>

                        <div>
                            <h4>General info</h4>
                            <h5>Technical status:</h5>
                            <!-- Details -->
                            <a href="{{ bike.pk }}">Details</a>
                            <!-- Tech info -->
                            <a>Technical condition</a>
                        </div>
                        <div>
                            <h4>Rent status:</h4>
                            <h4>Renting</h4>
                            <!-- Rent a bike -->
                            <a>Rent a bike</a>
                            <!-- Return a bike -->
                            <a>Return a bike</a>
                        </div>
                    </div>
                </li>
            {% empty %}
                <li>No such bikes</li>
            {% endfor %}
        </ol>

{% endblock %}
