{% extends 'bike/bike_base.html' %}

{% block title %}
    Bike4All | {{ block.super}}
{% endblock %}


{% block content %}
<div class="thumbnail">
<h4>Bikes</h4>
</div>
    <!-- Details of bike -->
            {% for bike in bike_list %}
                    <div class="thumbnail">
                        <h3>{{ bike }}</h3>
                        <div>
                            <!-- Details -->
                                <a href="{% url 'bike:bike-detail' bike.pk %}">Details</a>
                        </div>
                    </div>
            {% empty %}
                <li>No such bikes</li>
            {% endfor %}

    <div class="center-block">
            <a href="{% url 'bike:create-bike' %}">Add new bike</a>
        <!-- Add bike -->
    </div>

    <div class="thumbnail">
        <h4>Renting</h4>
        <a href="{% url 'bike:create-bike-renting' %}">Rent a bike</a>
    </div>

{% endblock %}
