<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
                Bike4All
            {% endblock %}
        </title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static '' %}">
    </head>
    <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

        <!-- Header -->
        <header>
            <div class="header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <div>
                    <h1>
                        <a class="navbar-brand" href="{% url 'index' %}">Bike4all</a>
                    </h1>
                </div>
                <div class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        {{ user.username|upper }}
                        <a href="{% url 'client:logout' %}"> Wyloguj </a>
                    {% else %}
                        <a href="{% url 'client:login' %}">
                        <span class="glyphicon glyphicon-off" aria-hiden="true"></span>Zaloguj</a>
                    {% endif %}
                </div>
            </div>
        </header>

        <div class=content container">
        </div>
    </nav>
        {% block content %}
        {% endblock %}

    <footer>
        {{ localization }}
    </footer>

    </body>

</html>