{% extends 'bike/bike_base.html' %}
{% block title %}
    HomePage | {{ block.super}}
{% endblock %}

{%  block content %}

    <h3>Bike4ALL</h3>

    <div>
            <div class="thumbnail">
                <a href="{% url 'bike:bike-list' %}">Bikes</a>
            </div>
            <div class="thumbnail">
                <a href="{% url 'client:client-list' %}">Clients</a>
            </div>
            <div class="thumbnail">
                <a href="{% url 'bike:local-list' %}">Localizations</a>
            </div>
            <div class="thumbnail">
                <a href="{% url 'bike:list-bike-renting' %}">Rentings</a>
            </div>
    </div>

{% endblock %}


