{% extends 'bike/bike_base.html' %}
{% block title %}
    HomePage | {{ block.super}}
{% endblock %}


{%  block content %}
   {{ info }}

    <header>
    Login
    </header>
    <h3>Witamy</h3>

    <div>
            <div>
            <a href="{% url 'bike:bike-list' %}">View bikes</a>
            </div>
            <div>
                <a href="{% url 'client:client-list' %}">Clients</a>
            </div>
            <div>
                <a href="{% url 'bike:local-list' %}">Localizations</a>
            </div>
        </div>

{% endblock %}


