{% extends 'bike/bike_base.html' %}

{% block title %}
    Bike4All | {{ block.super}}

{% endblock %}


{% block content %}
<div class="thumbnail">
<h4>Localizations</h4>
</div>
    <!-- Details of localization -->
            {% for localization in localization_list %}
                <li class="thumbnail">
                    <div>
                        <div>
                            City: {{ localization.city | upper }}
                        </div>
                        <div>
                            Street: {{ localization.street }} {{ localization.building_number }}
                        </div>
                        <div>
                            Tel: {{ localization.phone_number }}
                        </div>
                        <div>
                            e-mail: {{ localization.email }}
                        </div>
                        <div>
                            <div class="btn btn-default">
                            <a href="{% url 'bike:update-localization' localization.pk %}">Edit</a>
                            </div>
                            <div class="btn btn-default">
                            <a href="{% url 'bike:delete-localization' localization.pk %}">Delete</a>
                            </div>
                        </div>
                    </div>
                </li>
            {% empty %}
                <li>No such localizations</li>
            {% endfor %}

{% endblock %}
