{% extends 'bike/bike_base.html' %} {% load crispy_forms_tags %}

{% block title %}
   {{ bike.producer_name }} {{ block.super }}
{% endblock %}

{% block content %}

<h4>rentings</h4>
    <!-- Details of bike -->
            {% for bike in bike_list %}
                <ol>
                    <div class="thumbnail">
                        <h3>{{ bike }}</h3>
                        <div>
                            <!-- Details -->
                            <a href="{% url 'bike:bike-detail' bike.pk %}">Detail</a>
                            <!-- Tech info -->
                        </div>

                    </div>
                </ol>
            {% empty %}
                <li>No such bikes</li>
            {% endfor %}

    <div class="thumbnail">
        <h4>Add a bike</h4>
        <!-- Add bike -->
        <a href="{% url 'bike:create-bike' %}">Add</a>
    </div>

    <div class="thumbnail">
        <h4>Renting</h4>
        <a href="{% url 'bike:create-bike-renting' %}">Rent a bike</a>
    </div>

{% endblock %}